<div [style.background-color]="background" class="row mb-2  d-flex justify-content-center rounded rounded-3 shadow text-center" style="border: solid 1px; border-color: #ACA9BB;">
    <div class="col-12 pb-4">

        <p class="fs-3 fw-semibold mb-3" [style.color]="color_text" *ngIf="cargando" >Cargando datos <span>
            <div class="spinner-border text-light" role="status" *ngIf="cargando">
              <span class="visually-hidden">Loading...</span>
            </div>
          </span> </p>

        <p class="fs-5 fw-semibold mb-3" [style.color]="color_text" *ngIf="!cargando">{{titulo}}</p>
            
        <canvas id="{{id}}"  width="100%" height="50%"></canvas>

    </div>
</div>

