<!-- Componente de navegación -->

<nav class="navbar navbar-expand-xxl" style="background-color: #eaeaea;">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="menu[0].path">MercaData</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngFor="let itemmenu of menu">
                <a class="nav-link" [routerLink]="itemmenu.path" [routerLinkActive]="['active', 'fw-semibold']">{{itemmenu.name}}</a>
            </li>
        </ul>
      </div>
    </div>
</nav>