<div class="container-fluid position-relative " style="background-color: #2b2b2b">
    <div class="row justify-content-center align-items-center text-center gx-4 gy-4 mt-0">
        <div class="col-12 mt-5 position-fixed top-0">
            <p class="display-6 text-light">Menú</p>
            <div class="col-12 mt-3 mb-3" *ngFor="let itemmenu of menu">
                <a class=" nav-link" [routerLink]="itemmenu.path" [routerLinkActive]="['active', 'fw-semibold']">{{itemmenu.name}}</a>
            </div>
        </div>
    </div>
</div>